main.child.settings{
    height: 684px;
    width: 660px;
    margin-left: 8px;
    font-size: 16px;
    padding-top: 16px;
    padding-right: 8px;

    legend.color-blue{
        color: $brand-blue !important;
    }
}