$black: #16151f;
$dark-grey: #383849;
$light-grey: #8e8e8e;
$white: #ffffff;

$brand-blue: #0e51c6;
$brand-orange: #ff662f;
$brand-green: #169b3f;
$brand-red: #c42626;
$brand-yellow: #dadd4a;
$brand-violet: #9d2fd1;

$brand-blue-lighter: #3c78dfda;
$brand-orange-lighter: #ff875cda;

$light: 300;
$regular: 400;
$bold: 700;
$extrabold: 900;

$border-radius: 5px;

$piece-I: $brand-blue;
$piece-J: $brand-violet;
$piece-L: $brand-green;
$piece-T: $brand-orange;
$piece-S: $brand-yellow;
$piece-Z: $brand-red;
$piece-O: $white;