footer{
    .taskbar{
        display: block;
        cursor: default;
        position: absolute;
        bottom:0;
        width: 100%;
        height: 48px;
        background-color: $dark-grey;
        display: flex;
        flex-direction: row;

        justify-content: space-between;

        .container{      
            .control-icon{
                height: 32px;
                cursor: pointer;
            }
            .control{
                display: inline-block;
                margin-left: 4px;
                margin-top: 8px;
            }
        }

        .left{
            margin-left: 8px;
        }

        .right{
            margin-right: 12px;
        }
    }
}
